body {
  font-family: Arial, sans-serif;
}

nav.head-nav {
  font-size: 14px;
  opacity: 0.75;
  top: 16px;
  position: relative;
}

ul.header-left {
  list-style-type: none;
  margin: 7px 0 0 10px;
  padding: 0;
  position: absolute;
  display: inline-block;
}

ul.header-right {
  list-style-type: none;
  margin: 7px 0 0 10px;
  padding: 0;
  float: right;
}
a.about {
  padding-left: 15px;
}
a.store {
  padding-left: 15px;
}
a.gmail {
  padding-left: 15px;
}
a.images {
  padding-left: 15px;
}
a.apps {
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-size: 528px 68px;
  background-position: -132px -38px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

ul.footer-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

ul.footer-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
img.google-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
div.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav.foot-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  display: inline;
}

#sign-in {
  color: #fff;
  border: 1px solid #4285f4;
  background-color: #4285f4;
}
